.header {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header hr {
    margin-top: 20px;
} 
.header__logo {
    display: flex;
    align-items: center;
}
.header__logo-text {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: white;
    margin-left: 50px;
}
.header__logo-text span {
    font-size: 14px;
    color: #949ba2;
}
.header__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 14px;
    color: #949ba2;
}
.header__info small {
    color: white;
}